<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GradeProject_CrowdSourcing_Platform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.gradp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.gradp.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePw</servlet-name>
        <servlet-class>com.gradp.servlet.UpdatePwServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePw</servlet-name>
        <url-pattern>/updatePw.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.gradp.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>raiseQueServlet</servlet-name>
        <servlet-class>com.gradp.servlet.RaiseQueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>raiseQueServlet</servlet-name>
        <url-pattern>/raise.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>visitOther</servlet-name>
        <servlet-class>com.gradp.servlet.VisitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>visitOther</servlet-name>
        <url-pattern>/visitOther.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>answerOther</servlet-name>
        <servlet-class>com.gradp.servlet.OperateAsnwerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answerOther</servlet-name>
        <url-pattern>*.go</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PagesServlet</servlet-name>
        <servlet-class>com.gradp.servlet.PagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagesServlet</servlet-name>
        <url-pattern>*.to</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyPageServlet</servlet-name>
        <servlet-class>com.gradp.servlet.MyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPageServlet</servlet-name>
        <url-pattern>/myPage.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OtherPageServlet</servlet-name>
        <servlet-class>com.gradp.servlet.OtherPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OtherPageServlet</servlet-name>
        <url-pattern>/otherPage.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateQueServlet</servlet-name>
        <servlet-class>com.gradp.servlet.UpdateQueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateQueServlet</servlet-name>
        <url-pattern>/updateQue.do</url-pattern>
    </servlet-mapping>
</web-app>